<!-- content component HTML -->
<section class="gridArea">
    <div class="imgArea common">
      <img src="assets/images/cleo_baby.png" width="150px">
    </div>
    <div class="listArea common">
      <h3>My Student Info:</h3>
      <ul>
        <li>Name: {{student.sname}}</li>
        <li>Campus: {{student.scampus}}</li>
        <li>Number: {{student.sid}}</li>
        <li>Username: {{student.slogin}}</li>
      </ul>
    </div>
    <div class="inputArea common">
      <h3>2-way Binding</h3>
  
    </div>
  </section>
